include MANIFEST.in
include README.rst
include CHANGES
include LICENSE
include setup.py
include osm.proto

recursive-include imposm/parser/test *.osm *.pbf *.osm.bz2
exclude imposm/parser/pbf/osm.pb.cc
exclude imposm/parser/pbf/osm.pb.h
